{% extends "master.html" %}

{% block content %}
<h3>Crear departamento para el edificio: {{edificio}}</h3>
<br>
<form action="" method="post">
  {% csrf_token %}
  <div>
    <div>
      <div>
        {{ formulario.nombre_propietario.errors }}
        <label for="nombre_propietario">Nombre del propietario: </label>
        {{ formulario.nombre_propietario }}
      </div>
      <div>
        {{ formulario.costo.errors }}
        <label for="costo">Costo del departamento: </label>
        {{ formulario.costo }}
      </div>
      <div>
        {{ formulario.num_cuartos.errors }}
        <label for="num_cuartos">Número de cuartos: </label>
        {{ formulario.num_cuartos }}
      </div>
      <p><input type='submit' value='Agregar' /></p>
    </div>
</form>

{% endblock %}