{% extends "master.html" %}

{% block content %}
<h2>Crear Edificio: </h3>

<form action="" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        {{ formulario.nombre.errors }}
        <label for="nombre" class="form-label">Nombre del edificio: </label>
        {{ formulario.nombre }}
      </div>
      <div class="mb-3">
        {{ formulario.direccion.errors }}
        <label for="direccion" class="form-label">Dirección del edificio: </label>
        {{ formulario.direccion }}
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        {{ formulario.ciudad.errors }}
        <label for="ciudad" class="form-label">Ciudad: </label>
        {{ formulario.ciudad }}
      </div>
      <div class="mb-3">
        {{ formulario.tipo.errors }}
        <label for="tipo" class="form-label">Tipo: </label>
        {{ formulario.tipo }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="flex-center"><input class="btn btn-primary" type='submit' value='Agregar' /></p>
    </div>
  </div>



</form>
<br>
{% endblock %}