{% extends "master.html" %}

{% block content %}
<h2>Crear Edificio: </h3>

<form action="" method="post">
  {% csrf_token %}
  <div>
    <div>
      <div>
        {{ formulario.nombre.errors }}
        <label for="nombre">Nombre del edificio: </label>
        {{ formulario.nombre }}
      </div>
      <div>
        {{ formulario.direccion.errors }}
        <label for="direccion">Dirección del edificio: </label>
        {{ formulario.direccion }}
      </div>
    </div>
    <div>
      <div>
        {{ formulario.ciudad.errors }}
        <label for="ciudad">Ciudad: </label>
        {{ formulario.ciudad }}
      </div>
      <div>
        {{ formulario.tipo.errors }}
        <label for="tipo">Tipo: </label>
        {{ formulario.tipo }}
      </div>
    </div>
  </div>
  <div>
    <div>
      <p><input type='submit' value='Agregar' /></p>
    </div>
  </div>



</form>
<br>
{% endblock %}