{% extends "master.html" %}

{% block content %}

<h2>Crear Departamento</h3>

<form action="" method="post">
  {% csrf_token %}
  <div>
    <div>
      <div>
        {{ formulario.nombre_propietario.errors }}
        <label for="nombre_propietario">Nombre del propietario: </label>
        {{ formulario.nombre_propietario }}
      </div>
      <div>
        {{ formulario.costo.errors }}
        <label for="costo">Costo del departamento: </label>
        {{ formulario.costo }}
      </div>
    </div>
    <div>
      <div>
        {{ formulario.num_cuartos.errors }}
        <label for="num_cuartos">Número de cuartos: </label>
        {{ formulario.num_cuartos }}
      </div>
      <div>
        {{ formulario.edificio.errors }}
        <label for="edificio">Edificio: </label>
        {{ formulario.edificio }}
      </div>
    </div>
  </div>
  <div>
    <div>
      <p><input type='submit' value='Agregar' /></p>
    </div>
  </div>



</form>
{% endblock %}